.image-border {
    position: relative;
    display: inline-block;
}
.image-border img {
     display: block;
    position: relative;
    z-index: 1;
}
.image-border::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(237, 125, 55, 0.2);
    pointer-events: none;
    z-index: 0;
}
.Our_core_values .elementor-element{
    transition: all 0.3s;
}
.Our_core_values .elementor-element:hover .elementor-icon {
    border-color: var(--e-global-color-primary) !important;
}