/* ===== Custom Page Hero ===== */
.custom-page-header {
    position: relative;
    overflow: hidden;
}

.header-content-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    height: 50vh;
    display: flex;
    align-items: center;
    inset: 0;
    object-position: top;
    object-fit: cover;
}

/* Overlay */
.custom-page-header .overlay {
    position: absolute;
    inset: 0;
    background:#000000b2;
    z-index: 1;
}

.header-content-wrapper .autonova-container {
    position: relative;
    z-index: 2;
    width: 100%;
}

.header-content {
    padding: 80px 0 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width:992px){
    .header-content{
        gap: 22px;
    }
}

/* Subtitle */

.sub-heading-wrapper{
    display: flex;
    gap: 12px;
    align-items: center;
}

.custom-page-subtitle {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--e-global-color-primary);
    margin: 0 !important;
    font-family: "Montserrat", Sans-serif;
}

.sub-heading-wrapper .divider{
    width: 40px;
    height: 1px;
    background: var(--e-global-color-primary);
}
.title-description_wrapper{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.custom-page-title {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Montserrat", Sans-serif;
    line-height: 2.5rem;
    text-align: center;
    transition: all 0.3s;
}
@media only screen and (min-width:576px){
    .custom-page-title {
    font-size: 2.5rem;
}
}
@media only screen and (min-width:768px){
    .custom-page-title {
    font-size: 3rem;
    line-height: 3rem;
}
}
@media only screen and (min-width:992px){
    .custom-page-title {
    font-size: 4.5rem;
}
}

/* Description */
.custom-page-description {
    font-size: 18px;
    font-weight: 400;
    color: var(--e-global-color-text);
    line-height: 1.6rem;
    margin: 0;
    text-align: center;
}

/* Breadcrumb */
.header-content .breadcrumb {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    color: var(--e-global-color-heading);
}

.header-content .breadcrumb a {
    color: var(--e-global-color-text);
    text-decoration: none;
    transition: color 0.2s;
}

.header-content .breadcrumb a:hover {
    color: var(--e-global-color-primary);
}

/* Responsive */
@media (max-width: 768px) {
    .header-content-wrapper {
        min-height: 300px;
    }

    .header-content {
        padding: 60px 0 40px;
    }
}
