.autonova_whatsapp_button_container .autonova_whatsapp_button {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    background-color: #25D366;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.775rem;
    letter-spacing: 0.15em;
    padding: 12px 25px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media only screen and (min-width:768px) {
    .autonova_whatsapp_button_container .autonova_whatsapp_button {
        padding: 14px 30px;
        font-size: 0.800rem;
    }
}

.autonova_whatsapp_button_container .autonova_whatsapp_button:hover {
    background-color: #1ebe5d;
}

/* Outline style */
.autonova_whatsapp_button_container .autonova_whatsapp_button--outline {
    background-color: transparent;
    color: #25D366;
    border: 2px solid #25D366;
}

.autonova_whatsapp_button_container .autonova_whatsapp_button--outline svg path {
    fill: #25D366;
}

.autonova_whatsapp_button_container .autonova_whatsapp_button--outline:hover {
    background-color: #25D366;
    color: #ffffff;
}

.autonova_whatsapp_button_container .autonova_whatsapp_button--outline:hover svg path {
    fill: #ffffff;
}